{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel = "stylesheet" type = "text/css" href = '{% static "style.css"%}'>
</head>
<body>
        <header>
            <h1><font color="#FFFAFA"> Игры </font></h1>
        </header>

        <main>
            <ul>
                {% for i in list_products  %}
                    <li> <font size="5"> {{ i }} </font>
                            <button type="button">Купить
                                            </button></li>
                {% endfor %}
            </ul>
        </main>

        <footer>
            <button onclick="document.location='/platform3'">
                {{ button_back }}
            </button>
        </footer>

</body>
</html>