{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel = "stylesheet" type = "text/css" href = '{% static "style.css"%}'>
</head>
<body>
        <header>
            <h1><font color="#FFFAFA"> Главная страница </font></h1>
            <img src = '{% static "img/UrbanStile3.png" %}' alt="logo">
        </header>

        <main>
            <p> <font size="4">
                <a href="#">Главная</a>
                                        </font></p>
            <p> <font size="4">
                <a href="/games3">Магазин</a>
                                        </font></p>
            <p> <font size="4">
                <a href="/cart3">Корзина</a>
                                        </font></p>
        </main>

</body>
</html>